.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 200px;
    gap: 35px;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 20px;
    border-radius: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

.add-card:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}