.cards {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    position: relative;
    top: 200px;
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 0 3px;
    /* border: 1px solid black; */
    border-radius: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add {
    margin: 0 auto;
    align-self: center;
    font-weight: normal;
    position: relative;
    top: 5px;
}